<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SWIDEA</title>
</head>

<body>
    <nav>
        <div class="logo">
            <a href="{% url 'idea:list' %}">My SW Idea Manage</a>
        </div>
        <div class="menu">
            <a href="{% url 'idea:create' %}">아이디어 등록</a>
            <a href="{% url 'idea:list' %}">아이디어 관리</a>
            <a href="{% url 'devtools:create' %}">개발툴 등록</a>
            <a href="{% url 'devtools:list' %}">개발툴 관리</a>
        </div>
    </nav>

    <hr>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>